@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #0CBABA;
    --accent1-color: #E0D0C1;
    --accent2-color: #E9AFA3;
    --default-color: #F8F8FF;

    --heading-font: "Roboto Mono";
    --paragraph-font: "Roboto Mono";

    --nav-background-color: #E0D0C1;
    --nav-link-color: #0CBABA;
    --nav-hover-link-color: #3498db;
    --nav-hover-background-color: #E9AFA3;
    

}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    padding: 20px;
    background-color: var(--accent1-color)
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 220px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
}

p {
    padding: 25px;
}

.navigation {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

.navigation a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    text-align: center;
    color : var(--primary-color);
    top : 10px;
    left : 300px;
    background-color : rgba(239, 222, 205, .5);
     }

.hero article {
    position : absolute;
    color : var(--default-color);
    top : 0;
    background-color : rgba(239, 222, 205, .1);
    
    }

.hero article img {
    float : right;
    width : 150px;
    height : auto;
    }

.hero article p {
    color : var(--);
    }

h2 {
    text-align: center;
}
.history {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section img {
    max-width : 220px;
    height : 150px;
    }


figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    }

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    }

.sociallinks img {
        width : 50px;
        height : auto;
        padding-top: 25px;
        }
.sociallinks a {
        text-decoration : none;
        }
footer {
    display: grid;
    grid-template-columns: 600px 600px;
    text-align: left;
    background-color: var(--accent1-color)
}

.employees {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.employees img {
        max-width : 220px;
        height : 150px;
        }

h1 {
    text-align: center;
}

.map {
    border: thin #c0c0c0 solid;
    display: flex;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    }
form {
        margin: 0 auto;
        width: 600px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
}

fieldset {
    width: 600px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  button {
    margin: 20px 0 0 0;
  }
  
  label {
    position: relative;
    display: inline-block;
  }
  img {
    max-width:100%;
    height:350px;
  }
  .container {
    display:flex;
    width:90%;
    margin:0 auto;
  }
  .box {
    flex:1;
    margin:0 4px;
  }