
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');

:root {
    --primary-color: #A5D3F3;
    --secondary-color: #C49991;
    --accent1-color: #595457;
    --accent2-color: #57A773;

    --heading-font: "Volkburn SemiBold 600", serif;
    --paragraph-font: "Volkburn Regular 400", serif;

    --nav-background-color: #A5D3F3;
    --nav-link-color: #C49991;
    --nav-hover-link-color: #595457;
    --nav-hover-background-color: #57A773;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color)
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
