* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins";
    font-size: 1em;
    color:darkslategray;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color:black;
    text-align: center;
}
form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(15, 14, 15, 0.936);
    border-radius: 0.5rem;
    background-color:lightgray;
    display: grid;
}

fieldset {
    display: grid;
    margin: 1rem;
    border: 1px solid rgba(132, 5, 252, 0.1);
    padding: 1rem;
 }


input, select,textarea {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5rem;
    font-size: 1rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

button {
    margin: 1rem;
    background-color:cadetblue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color:lightcoral;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color:black;
    border-top: 1px solid #ccc;
}
.form-item {
    display: grid;
    align-items: center;
}
.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}